.card{
    width: 30%;
    height: 17rem;
    border-radius: 20px;
    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        
        
    }
    
    background-color: rgba(118, 23, 105 ,0.6);
    color: rgb(255, 255, 255);
}

.info {
    width: 100%;
    padding: 10px 30px;
}